POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=agenticats
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-password

EMBEDDING_API_URL=http://127.0.0.1:7999/v1/embeddings
LLM_API_URL=http://localhost:8000/v1/chat/completions
